# .NET Core
bin/
obj/
TestResults/
*.dbmdl
*.jfm
*.exe
*.dll
*.log
*.pdb
*.userprefs
*.publishproj
*.swp
*_i.c
*_p.c
*.pidb
*.svclog
*.vspx
*.appx
*.AppxSignature.p7x
*.bak
*.Cache
*.csproj.DotSettings
*.dotCover
*.dotSettings
*.edmx.diagram
*.ide
*.ilk
*.ipch
*.lastbuildstate
*.nupkg
*.pe
*.pidb
*.resharper
*.scc
*.suo
*.testsettings
*.user
*.vsp
*.vssscc
*.vssettings
*.vssscc
*.vsto
*.vstx
*.vsx
*.vup
[Tt]humbs.db
build/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rtifacts/
[Ll]og/
[Ss]tage/
[Bb]ackup/
_UpgradeReport_Files/
ReSharper/
Ankh.NoLoad
Ankh.LoadError
*.userosscache
[Bb]in/
[Ii]ntellisense/
[Oo]bj/
[Rr]elease/
[Tt]est[Rr]esult*/
publish/
_UpgradeReport_Files/
_SQLDBDiffReport.html
*.generated.cs
*.generated.js
*.generated.ts
*.generated.vb
*.generated.txt
*.generated.html
*.generated.htm
.vs/
.vscode/
.idea/
*.sln.docstates
*.suo
*.sln.ide
*.sln.ide-shm
*.sln.ide-wal
*.sw*
.DS_Store
Icon
node_modules/
/dist/
/coverage/
/compiled/
/*.js.map
/*.css
/*.js
/*.js.map
/*.d.ts
/coverage/
/dist/
/temp/
npm-debug.log
