<div class="container">
  <div>
    <label for="valor">Valor:</label>
    <input type="number" id="valor" [(ngModel)]="valor" required min="0" step="0.01">
    <div *ngIf="valorInvalido" class="error-message">Insira um valor válido.</div>
  </div>

  <div>
    <label for="prazo">Prazo (em meses):</label>
    <input type="number" id="prazo" [(ngModel)]="prazo" required min="1">
    <div *ngIf="prazoInvalido" class="error-message">Insira um prazo válido.</div>
  </div>

  <button (click)="calcularInvestimento()">Calcular</button>

  <div *ngIf="valorBruto">
    <h3>Resultado Bruto:</h3>
    <p>{{ valorBruto | currency }}</p>
  </div>

  <div *ngIf="valorLiquido">
    <h3>Resultado Líquido:</h3>
    <p>{{ valorLiquido | currency }}</p>
  </div>
</div>
